
<div class="board">
  <div class="outside-box">
    <div class="form">
      <h1>振興兌換券</h1>
      <%= render "form", exchange: Exchange.new %>
    </div>
    <div class="info">
      <div class="info-navbar">
        <div class="obj-left">
          <i class="fas fa-plus-circle"></i>
          <i class="fas fa-inbox"></i>
        </div>
        <div class="obj-right">
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-search"></i>
        </div>
      </div>

      <div class="coupon-detail">
        
      </div>
    </div>
  </div>
</div>


